.audioControl{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
    margin-bottom:5px;
}

.progress {
    flex:9;
    height:20px;
    position: relative;
    display: flex;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    margin-left:5px;
    margin-right:5px;
    cursor:ew-resize;
}

.progressFilled {
    height:20px;
    background: #F97068; //#FDF592;
    flex-basis: 0%;
}
.progress,
.progressFilled{
    border-radius: 8px;
}
.toggle,
.timeLeft{
    white-space: nowrap;
    flex:0.5;
}
.toggle{
    padding:10px;
}