.audioPlayer{
    background: #EDF2EF;
    padding-top:30px;
    padding-bottom: 30px;
}
.audioWrapper{
    padding:50px 20px 50px 20px;
    background:white;
    border-radius:8px;
    margin:20px auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    border:2px solid #FDF592;
}
.audioHeader{
    align-self: center;
}
.playerThumbnail{
    margin:20px auto;
}
.playerThumbnail img{
    border-radius:8px;
}
.audioControl{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
    margin-bottom:5px;
    width:80%;
    align-self: center;
}


.progress {
    flex:9;
    height:20px;
    position: relative;
    display: flex;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    margin-left:5px;
    margin-right:5px;
    cursor:ew-resize;
}

.progressFilled {
    height:20px;
    background: #F97068; //#FDF592;
    flex-basis: 0%;
}
.progress,
.progressFilled{
    border-radius: 8px;
}
.toggle,
.timeLeft{
    white-space: nowrap;
    flex:0.5;
}
.toggle{
    padding:10px;
}