// styles for pocast audio player
.audioPlayer {
    background: $brandColorWhite;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.audioWrapper {
    padding: 50px 20px;
    background: rgba(255, 255, 255, 0.596);
    border-radius: 0.5rem;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid $brandColorYellow;
    text-align: center;
}

.audioHeader {
    align-self:center;
}

.playerThumbnail {
    margin: 20px auto;
    width:320px;
    width:320px;
    transition:all 0.3s ease-in-out;
}

.playerThumbnail img {
    width:100%;
    height:100%;
    border-radius: 8px;
}

.audioControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    align-self: center;
    transition:all 0.3s ease-in-out;
}

.progress {
    flex: 9;
    height: 20px;
    position: relative;
    display: flex;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    margin-left: 5px;
    margin-right: 5px;
    cursor: ew-resize;
}

.progressFilled {
    height: 20px;
    background: $brandColorRed; 
    flex-basis: 0%;
}

.progress,
.progressFilled {
    border-radius: 8px;
}

.toggle,
.timeLeft {
    white-space: nowrap;
    flex: 0.5;
}

.toggle{
    padding: 10px;
}