body{
  font-size: 62.5%;
  color: #545454;
  font-family: $fontSecondary;
  font-size: 1rem;
}

h2 {
  font-family: $fontPrimary;
  font-size: 4rem;
  @include underlineEffect($brandColorYellow);
  margin-bottom: 2rem;
}

h3 {
  font-family: $fontPrimary;
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

button {
    background-color: $brandColorRed;
    color: #fff;
    height: 3rem;
    padding: 0 2rem;
    display: flex;
    align-items: flex-end;
    display: inline-block;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

//override default swal styling

.swal2-title {
    font-size: 3rem !important;
}

.swal2-styled.swal2-confirm {
    background-color: $brandColorRed !important;
    font-weight: bold;
}

.swal2-styled {
  padding: 0.55rem 3rem !important;
}
.App{
  position:relative;
}
.toTop{
  position:absolute;
  bottom:70px;
  right:20px;
  background:black;
  border-radius:50%;
  width:30px;
  height:50px;
}