header {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/unsplashHeadphonesBg.jpg");
    background-position-x: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
        font-size: 6.5rem;
        font-family: $fontPrimary;
        left: 8%;
        position: relative;
        border: .4rem solid;
        padding: 4rem 3rem;
        line-height: 0.86;
        font-weight: 700;
        z-index: 1;
    }

    .startLink {
        text-decoration: none;
        border-bottom: 2px solid;
        color: $brandColorRed;
        text-transform: uppercase;
        font-weight: 700;
    }

    .hero {
        height: 100%;
    }

    .whiteBlock {
        height: 95vh;
        background-color: #FFFEF2;
        width: 35%;
        position: absolute;
        top: 0;
        left: 15%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
    }

    .heroTextContainer {
      padding: 2rem;
      font-family: $fontSecondary;

      .heroTextTagline {
          font-size: 1.1rem;
          margin-bottom: 0.5rem;
          font-weight: 700;
      }
    }
}