// mapquest's static map styling
.routeMap {
    height: 45rem;
    display: flex;
    align-items: flex-start;
    text-align: center;
    background-color: $brandColorWhite;
}

.routeMapContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 

    .routeMapHeader {
     margin-bottom: 0;
    }

    p {
        font-size: 1.3rem;
    }

    p:nth-last-of-type(1) {
        margin-bottom: 1.5rem;
    }

     p:nth-last-of-type(2) {
        margin-top: 2rem;
    }
}

.routeMapImg {
    border: 3px solid #fff;
    outline: solid $brandColorRed 3px;
    border-radius: 0.5rem;
    width: 100%;
}