.suggestions{
    li{
        display:flex;
        align-items: center;
        padding:0;
        cursor: pointer;
    }
    img{
        padding-right:10px;
        width:28px;
        height:32px;
    }
    li:hover,
    li:focus,
    li:active{
        background:lightgrey;
        img{
            transform:scale(1.1);
        }
    }
}
.suggestions li button{
    color: black;
    font-family: $fontSecondary;
    padding:10px;
    padding-left:0.5rem;
    font-weight: normal;
    text-transform: none;
    background:none;
    display:flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    height:fit-content;
    &:hover,
    &:focus,
    &:active{
        background:lightgrey;
    }
}
.routeMap {
    height: 45rem;
    display: flex;
    align-items: flex-start;
    text-align: center;
    background-color: $brandColorWhite;
}

.routeMapContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 

    .routeMapHeader {
     margin-bottom: 0;
    }

    p {
        font-size: 1.3rem;
    }

    p:nth-last-of-type(1) {
        margin-bottom: 1.5rem;
    }

     p:nth-last-of-type(2) {
        margin-top: 2rem;
    }
}

.routeMapImg {
    border: 3px solid #fff;
    outline: solid $brandColorRed 3px;
    border-radius: 0.5rem;
    width: 100%;
}