@media(max-width:750px){
    input.address-search.from-input, 
    input.address-search.to-input, 
    input.podcast-search{
        font-size: 0.75rem;
    }
}
@media(max-width:600px){
    h2{
        font-size: 3rem;
        transition:all 0.3s linear;
    }
    .search-form{
        flex-wrap: wrap;
        .addressSearchInput{
            width: 100%;
            margin: 20px 0;
            .from-input,.to-input{
                margin: 0;
            }
        }
        
        button{
            width: 100%;
        }
    }
    .search-form{
        .podcastSearchInput{
            .podcast-search{
                width:100%;
                margin-bottom: 20px;
            }
        }
    }
}
@media(max-width:400px){
    h2{
        font-size: 2rem;
        margin-bottom: 0;
    }
}
@media(max-width:560px){
    .podcastGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .podcastList{
        flex-direction:column;
    }
    .podcastLength {
        order: -1;
        justify-self: center;
        align-self: center;
        margin-bottom:2rem;
    }
    .podcastInfo{
        padding-top:0;
    }
    .audioButton{
        margin-bottom:0.5rem;
    }
    .audioControl {
        width:100%;
    }
}
@media(max-width:400px){
    .playerThumbnail{
        width:230px;
        height:230px;
    }
}