// how the preloading icon should be positioned on the whereTo section
.preloaderWhereTo {
    position: absolute;
    bottom: 1rem;
}

// how the preloading icon should be positioned on the podcastDisplay section
.preloaderPodcastDisplay {
    position: relative;
    top: 4rem;
}

.preloader {
    font-size: 5rem;
    color: $colorBlue;
    animation: spinning 1s linear;
    animation-iteration-count: infinite;
}

// animation for preloading icon
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
