.wrapper{
    max-width: 1200px;
    width:90%;
    margin:0 auto;
}
.search-form{
    max-width: 100%;
    margin: 1rem auto;
    position:relative;
    text-align:center;
}
.address-search{
    width:30rem;
    height:5rem;
    border:4px solid black;
    border-radius:5px;
    margin:2rem;
    margin-bottom:0;
    font-size:2rem;
}
label{
    font-size:1.6rem;
    position:relative;
}
.suggestions{
    width:30rem;
    margin:0 auto;
    text-align:left;
    font-size:1.6rem;
    padding:1rem;
    border-radius:5px;
}
.suggestions li {
    background: black;
    font-size:1.2rem;
    list-style: none;
    border-bottom: 1px solid #C8C8C8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: flex-start;
    text-transform: capitalize;
    z-index:20;
}
.suggestions li:nth-child(even) {
    background: linear-gradient(to bottom,  #ffffff 0%,#EEEEEE 100%);
}

.suggestions li:nth-child(odd) {
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

.route-map{
    width:50%;
    margin:0 auto;
}
.route-map img{
    width:100%;
    height:100%;
}