.travelTypeSection {
    background-color: #FDF592;
    text-align: center;
    height: 40rem;
    display: flex;
    align-items: center;

    .travelTypeText {
        font-size: 1.3rem;
        font-style: italic;
        font-weight: 700;

        &:nth-child(2) {
            margin: 2rem 0 0.5rem;
            font-style: normal;
            font-weight: 400;
        }
    }
}

.travelHeading {
    @include underlineEffect(#83DEE1);
}

.travelTypeButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;

    p {
        color: #fff;
    }
}

.travelTypeSelection button{
    margin: 0 30px;
    height: 100%;
    padding: 20px;
    width: 20rem;
    background-color: #F97068;
    border-radius: 0.5rem;
    outline: solid #F97068 3px;
}

button.active{
    border: solid #83dee1 3px;
    .icon{
        color:#83dee1;
       
    }
}

button.inactive{
    border: solid #fff 3px;
    .icon{
        color: #fff;
    }
}

.icon {
    font-size: 150px;
    margin-bottom: 20px; 
}