.travelTypeSection {
    background-color: #FDF592;
    text-align: center;
    height: 30rem;
    display: flex;
    align-items: center;

    .safetyWarning {
        font-size: 1.3rem;
        font-style: italic;

        &:nth-child(2) {
            margin-top: 1rem;
        }
    }

    .warning {
        font-weight: 700;
    }
}

.travelHeading {
    @include underlineEffect(#83DEE1);
}

.travelTypeButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    p {
        color: #fff;
    }
}

.travelTypeSelection button{
    margin: 0 30px;
    height: auto;
    padding: 20px;
    // z-index: 999;
    // position: relative;
    width: 20rem;
    background-color: #F97068;
    border-radius: 0.5rem;
    outline: solid #F97068 3px;
}
button.active{
    border: solid #83dee1 3px;
    .icon{
        color:#83dee1;
       
    }
}
button.inactive{
    .icon{
        color: #fff;
    }
}

.icon {
    font-size: 150px;
    margin-bottom: 20px;
    
}
