.wrapper{
    max-width: 1200px;
    width: 90%;
    margin :0 auto;
}

.emphasisText {
    text-transform: uppercase;
    text-decoration: underline;
}

.swal2-title {
    font-size: 3rem !important;
}

.swal2-styled.swal2-confirm {
    background-color: #F97068 !important;
    font-weight: bold;
}

.swal2-styled {
  padding: 0.55rem 3rem !important;
}
