// colors
$brandColorWhite: #EDF2EF;
$brandColorRed: #F97068;
$brandColorYellow: #E8EB5E;

$colorBlue: #83DEE1;
$colorYellow: #FDF592;

// fonts
$fontPrimary: 'Judson', serif;
$fontSecondary: 'Lato', sans-serif;